{% extends "Template/baseBack.html.twig" %}

{% block title %}Modération Commentaires{% endblock %}
{% block metaName %}ValidComment{% endblock %}
{% block metaContent %}Page de modération des commentaires{% endblock %}
{% block part %}Commentaires en attente de validation{% endblock %}

{% block content %}

{% if flashErrorEditComment != false  %}
    <div class="alert alert-dismissible alert-secondary">
        {{ flashErrorEditComment }}
    </div>
{% endif %} 
{% for comment in listComments %}
    <div class="card px-2 py-2">
        <div class="row">
            <div class="col-12 col-md-10 my-1">
                <h5 class="card-title">{{ comment.content }}</h5>
                <p class="card-text">le {{ comment.dateCreateFR }} par {{ comment.lastName }}  {{ comment.firstName }}</p>
                <a href="?action=post&postId={{ comment.postId }}" class="btn-sm btn-primary">Voir le post</a>
            </div>
            <div class="col-12 col-md-2 text-center">
                <form method="post" action="?action=validCommentForm">
                    <div class="form-group border py-2">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="valid" name="validComment" value="refus" checked>
                                Refuser
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="valid" name="validComment" value="valide">
                                Valider
                            </label>
                        </div>
                        <input name="commentId" type="hidden" value="{{comment.id}}"></input>
                        <button type="submit" class="btn-sm btn-info">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>    
{% endfor %}
{% endblock %}